/**
 * Typography Utilities
 */

// Text alignments
.text-left
  text-align left

.text-center
  text-align center

.text-right
  text-align right

// Font weights
.font-light
  font-weight $fw-light

.font-regular
  font-weight $fw-regular

.font-medium
  font-weight $fw-medium

.font-semibold
  font-weight $fw-semibold

.font-bold
  font-weight $fw-bold

// Text transforms
.uppercase
  text-transform uppercase

.lowercase
  text-transform lowercase

.capitalize
  text-transform capitalize

